@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

:root {
	--primary-green: #b3c100;
	--primary-gray: #ced2cc;
	--primary-black: #23282d;
	--primary-blue: #4cb5f5;
	--primary-dark: #1f3f49;
	--primary-red: #d32d41;
	--secondary-green: #6ab187;
}

/* -------------------------------------NAV--------------------------------------------- */

body {
	font-family: "Cabin", sans-serif !important;
}

.navbar-nav > li > a {
	color: white !important;
	margin: 0 1rem;
	border-top: 0.1875rem solid var(--primary-dark);
}

.dark-color {
	background-color: var(--primary-dark);
}

.navbar-brand {
	color: var(--primary-green) !important;
	margin: 1rem 0;
}

.navbar-nav > li > a:hover {
	border-top: 0.1875rem solid var(--primary-green);
}

nav a.nav-link {
	transition: 0.15s ease-in-out;
}
